body {
    background-image: url(assets/pics/university.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
    background-color: #a8a8a8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10px;
}
.login {
    text-align: center;
    padding-right: 50px;
}

.brand-div{
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.brand-pic-img {
    max-height: 25px;
    max-width: 25px;
}

.brand{
    font-size: 16px;
    margin-top: 7px;
    margin-left: 5px;
}

.greeting-header{
    font-size: 40px;
}



.text-muted{
    font-size: 10px;
    margin-bottom: 30px;
}



.box{
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 8px;
    height: 40px;
    border-color: rgb(202, 202, 202);
    transition: 0.8s;
}

.box-pic {
    max-width: 20px;
    max-height: 20px;
    object-fit: cover;
}

.box:hover {
    cursor: pointer;
    background-color: rgb(218, 218, 218);
}



.divider-container{
    margin-top: 30px;
    position: relative;
}

.divider{
    margin-top: 15px;
}

.divider-text{
    position: absolute;
    top: 93%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 0 10px;
    font-size: 12px; 
}

.login-form{
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    margin-top: 30px;
}

.form-group{
    margin-bottom: 20px;
}
.textfield{
    height: 40px;
    width: 100%;
    border: 0px;
    border-radius: 5px;
    transition: 0.8s;
    background-color: #dde5e7;
    padding: 10px
}


.dflex {
    display: flex;
}

.align-items-center{
    align-items: center;
    text-align: center;
}

.remember-label{
    padding-top: 5px;
}

.forgot-password{
   margin-left: auto;
    
}

.forgot {
    color: #000;
}

.mr-2{
    margin-right: 0.5rem;
}

.btn-primary {
    background-color: black;
    font-size: 11px;
    height: 40px;
    width: 100%;
    border-color: black;
    border-radius: 20px;
    transition: 0.8s;
}

.btn-primary:hover {
    border-color: #000;
    color: #000;
    background-color: #fff;
}

.login-picture {
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.login-picture img {
    max-width: 90%;
    height: auto;
    display: block;
}
